<div class="em-wrapper-main">
                    <div class="container container-main">
                        <div class="em-inner-main">
                            
                            <div class="em-main-container em-col1-layout">
                                <div class="row">
                                    <div class="em-col-main col-sm-24">
                                        <div class="std"></div>
                                        
                                        <div class="em-wrapper-top-games-slider  em-line-01 button-show01">
                                            <div class="widget-title em-widget-title">
                                                <h3><span>Top Games</span></h3>
                                            </div>
                                            <div class="em-top-games-slider">
                                                <div id="em_ajax_products_49d77777fbd464282288a6cbd5b9e828" class="emfilter-ajaxblock-loaded">
                                                    <div id="em_minifilter_products_634834e06ccc85dbb9d829718815cb41" class="em-grid-00 ">
                                                        <div class="widget em-filterproducts-grid">
                                                            <div class="widget-products em-widget-products">
                                                                <div class="products-grid owl-carousel owl-theme ">
                                                                    <div *ngFor="let item of ProductList" class="item first">
                                                                        <div class="product-item">
                                                                            <div class="product-shop-top">

                                                                                <a href="product-detail.html" title=" Frozen" class="product-image">
                                                                                    <!--show label product - label extension is required--><img class="em-alt-hover img-responsive em-img-lazy" src="assets/images/product/350x350/gameword_sp5_2.jpg" width="350" height="350" alt=" Frozen" /> <img class="img-responsive em-img-lazy em-alt-org" src="assets/images/product/350x350/gameword_sp5_1.jpg" width="350" height="350" alt=" Frozen" /> </a>
                                                                                <div class="em-element-display-hover bottom">
                                                                                    <div class="em-btn-addto">
                                                                                        <!--product add to cart-->
                                                                                        <button type="button" title="Add to Cart" class="button btn-cart"><span><span>Add to Cart</span></span>
                                                                                        </button>
                                                                                        <!--product add to compare-wishlist-->
                                                                                        <ul class="add-to-links">
                                                                                            <li><a href="#406" class="link-wishlist" title="Add to Wishlist">Add to Wishlist</a>
                                                                                            </li>
                                                                                            <li><span class="separator">|</span> <a href="#406" class="link-compare" title="Add to Compare">Add to Compare</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                    <div class="quickshop-link-container"> <a href="#" class="quickshop-link" title="Quickshop">Quickshop</a> </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="product-shop">
                                                                                <div class="f-fix">
                                                                                    <!--product name-->
                                                                                    <h3 class="product-name"><a href="product-detail.html" title=" Frozen"> {{item.namePD}}</a></h3>
                                                                                    <!--product description-->
                                                                                    <!--product reviews-->
                                                                                    <div class="ratings">
                                                                                        <div class="rating-box">
                                                                                            <div class="rating" style="width:%"></div>
                                                                                        </div> <span class="amount"><a href="#">(0)</a></span> </div>
                                                                                    <!--product price-->
                                                                                    <div class="price-box"> <span class="regular-price">
                                                                                        <span class="price">$860.00</span> </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- /.item -->
                                    
                                                                </div>
                                                            </div>
                                                        </div><!-- /.widget -->
                                                    </div>
                                                </div>
                                            </div><!-- /.em-top-games-slider -->
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.em-main-container -->
                            <div class="row">
                                <div class="col-sm-18">
                                    <div class="em-wrapper-area03">
                                        <div class="em-wrapper-products em-wrapper-product-16 hidden-xs">
                                            <div id="em_ajax_products_850dab4ad568b9122df0ffcebf8eef85" class="emfilter-ajaxblock-loaded">
                                                <div id="em_minifilter_products_ae9926065623ce2bb351e0a9e7c90d13" class="em-grid-16 ">
                                                    <div class="widget-title em-widget-title">
                                                        <h3><span>Xbox One Hardware</span></h3>
                                                    </div>
                                                    <div class="widget em-filterproducts-custom">
                                                        <div class="em-inner-product custom-product-list">
                                                            <div class="col-sm-12 em-item-big products-grid line-right">
                                                                <div class="item">
                                                                    <div class="product-item">
                                                                        <div class="product-shop-top">
                                                                            <a href="product-detail.html" title="Iron Man 3" class="product-image"> <img class="em-alt-hover img-responsive em-img-lazy" src="assets/images/product/500x500/gameword_sp3_2.jpg" width="500" height="500" alt="Iron Man 3" /> <img class="img-responsive em-img-lazy em-alt-org" src="assets/images/product/500x500/gameword_sp3_1.jpg" width="500" height="500" alt="Iron Man 3" /> </a>
                                                                            <div class="em-element-display-hover bottom">
                                                                                <div class="em-btn-addto">
                                                                                    <!--product add to cart-->
                                                                                    <button type="button" title="Add to Cart" class="button btn-cart"><span><span>Add to Cart</span></span>
                                                                                    </button>
                                                                                    <!--product add to compare-wishlist-->
                                                                                    <ul class="add-to-links">
                                                                                        <li><a href="#" class="link-wishlist" title="Add to Wishlist">Add to Wishlist</a>
                                                                                        </li>
                                                                                        <li><span class="separator">|</span> <a href="#" class="link-compare" title="Add to Compare">Add to Compare</a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                                <div class="quickshop-link-container"> <a href="#" class="quickshop-link" title="Quickshop">Quickshop</a> </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-shop">
                                                                            <div class="f-fix">
                                                                                <!--product name-->
                                                                                <h3 class="product-name"><a href="product-detail.html" title="Iron Man 3">Iron Man 3</a></h3>
                                                                                <!--product description-->
                                                                                <!--product reviews-->
                                                                                <div class="ratings">
                                                                                    <div class="rating-box">
                                                                                        <div class="rating" style="width:%"></div>
                                                                                    </div> <span class="amount"><a href="#">(0)</a></span> </div>
                                                                                <!--product price-->
                                                                                <div class="price-box"> <span class="regular-price">
                                                                                                                        <span class="price">$130.00</span> </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 products-list line-left">
                                                                <div class="item" style="  ">
                                                                    <a href="product-detail.html" title="Marvel's Avengers" class="product-image"> <img class="em-alt-hover img-responsive em-img-lazy" src="assets/images/product/120x120/gameword_sp2_2.jpg" width="120" height="120" alt="Marvel's Avengers" /> <img class="img-responsive em-img-lazy em-alt-org" src="assets/images/product/120x120/gameword_sp2_1.jpg" width="120" height="120" alt="Marvel's Avengers" /> </a>
                                                                    <div class="product-shop">
                                                                        <div class="f-fix">
                                                                            <!--product name-->
                                                                            <h3 class="product-name"><a href="product-detail.html" title="Marvel's Avengers">Marvel's Avengers</a></h3>
                                                                            <!--product description-->
                                                                            <!--product reviews-->
                                                                            <div class="ratings">
                                                                                <div class="rating-box">
                                                                                    <div class="rating" style="width:%"></div>
                                                                                </div> <span class="amount"><a href="#">(0)</a></span> </div>
                                                                            <!--product price-->
                                                                            <div class="price-box"> <span class="regular-price">
                                                                                                                        <span class="price">$150.00</span> </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="item" style="  ">
                                                                    <a href="product-detail.html" title="Cinderella 2-Disc" class="product-image"> <img class="em-alt-hover img-responsive em-img-lazy" src="assets/images/product/120x120/gameword_sp10_2.jpg" width="120" height="120" alt="Cinderella 2-Disc" /> <img class="img-responsive em-img-lazy em-alt-org" src="assets/images/product/120x120/gameword_sp10_1.jpg" width="120" height="120" alt="Cinderella 2-Disc" /> </a>
                                                                    <div class="product-shop">
                                                                        <div class="f-fix">
                                                                            <!--product name-->
                                                                            <h3 class="product-name"><a href="product-detail.html" title="Cinderella 2-Disc">Cinderella 2-Disc</a></h3>
                                                                            <!--product description-->
                                                                            <!--product reviews-->
                                                                            <div class="ratings">
                                                                                <div class="rating-box">
                                                                                    <div class="rating" style="width:%"></div>
                                                                                </div> <span class="amount"><a href="#">(0)</a></span> </div>
                                                                            <!--product price-->
                                                                            <div class="price-box"> <span class="regular-price">
                                                                                                                        <span class="price">$150.00</span> </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="item last" style="  ">
                                                                    <a href="product-detail.html" title=" Frozen" class="product-image"> <img class="em-alt-hover img-responsive em-img-lazy" src="assets/images/product/120x120/gameword_sp5_2.jpg" width="120" height="120" alt=" Frozen" /> <img class="img-responsive em-img-lazy em-alt-org" src="assets/images/product/120x120/gameword_sp5_1.jpg" width="120" height="120" alt=" Frozen" /> </a>
                                                                    <div class="product-shop">
                                                                        <div class="f-fix">
                                                                            <!--product name-->
                                                                            <h3 class="product-name"><a href="product-detail.html" title=" Frozen"> Frozen</a></h3>
                                                                            <!--product description-->
                                                                            <!--product reviews-->
                                                                            <div class="ratings">
                                                                                <div class="rating-box">
                                                                                    <div class="rating" style="width:%"></div>
                                                                                </div> <span class="amount"><a href="#">(0)</a></span> </div>
                                                                            <!--product price-->
                                                                            <div class="price-box"> <span class="regular-price">
                                                                                                                        <span class="price">$860.00</span> </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.widget -->
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.em-wrapper-area03 -->
                                </div>
                                <div class="col-sm-6">
                                    <div class="em-wrapper-area04">
                                        <div class="em-wrapper-product-16 em-wrapper-product-list-16 custom-product-list widget">
                                            <div id="em_ajax_products_8edfc3a159654148f906e01bf5613763" class="emfilter-ajaxblock-loaded">
                                                <div id="em_minifilter_products_1e4a925c00b2e733ca9a3a8e36355349" class="em-grid-04 ">
                                                    <div class="widget-title em-widget-title">
                                                        <h3><span>Playstation Hardware</span></h3>
                                                    </div>
                                                    <div class="em-filterproducts-list">
                                                        <div class="widget-products em-widget-products">
                                                            <div class="owl-carousel owl-theme ">
                                                                <div class="em-item-slider">
                                                                    <div class="products-list">
                                                                        <div class="item first" style="  ">
                                                                            <a href="product-detail.html" title=" Frozen" class="product-image"> <img class="em-alt-hover img-responsive em-img-lazy" src="assets/images/product/100x100/gameword_sp5_2.jpg" width="100" height="100" alt=" Frozen" /> <img class="img-responsive em-img-lazy em-alt-org" src="assets/images/product/100x100/gameword_sp5_1.jpg" width="100" height="100" alt=" Frozen" /> </a>
                                                                            <div class="product-shop">
                                                                                <div class="f-fix">
                                                                                    <!--product name-->
                                                                                    <h3 class="product-name"><a href="product-detail.html" title=" Frozen"> Frozen</a></h3>
                                                                                    <!--product description-->
                                                                                    <!--product reviews-->
                                                                                    <!--product price-->
                                                                                    <div class="price-box"> <span class="regular-price">
                                                                                                                        <span class="price">$860.00</span> </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item" style="  ">
                                                                            <a href="product-detail.html" title="Cinderella 2-Disc" class="product-image"> <img class="em-alt-hover img-responsive em-img-lazy" src="assets/images/product/100x100/gameword_sp10_2.jpg" width="100" height="100" alt="Cinderella 2-Disc" /> <img class="img-responsive em-img-lazy em-alt-org" src="assets/images/product/100x100/gameword_sp10_1.jpg" width="100" height="100" alt="Cinderella 2-Disc" /> </a>
                                                                            <div class="product-shop">
                                                                                <div class="f-fix">
                                                                                    <!--product name-->
                                                                                    <h3 class="product-name"><a href="product-detail.html" title="Cinderella 2-Disc">Cinderella 2-Disc</a></h3>
                                                                                    <!--product description-->
                                                                                    <!--product reviews-->
                                                                                    <!--product price-->
                                                                                    <div class="price-box"> <span class="regular-price">
                                                                                                                        <span class="price">$150.00</span> </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item last" style="  ">
                                                                            <a href="product-detail.html" title="Furious 7" class="product-image"> <img class="em-alt-hover img-responsive em-img-lazy" src="assets/images/product/100x100/gameword_sp7_2.jpg" width="100" height="100" alt="Furious 7" /> <img class="img-responsive em-img-lazy em-alt-org" src="assets/images/product/100x100/gameword_sp7_1.jpg" width="100" height="100" alt="Furious 7" /> </a>
                                                                            <div class="product-shop">
                                                                                <div class="f-fix">
                                                                                    <!--product name-->
                                                                                    <h3 class="product-name"><a href="product-detail.html" title="Furious 7">Furious 7</a></h3>
                                                                                    <!--product description-->
                                                                                    <!--product reviews-->
                                                                                    <!--product price-->
                                                                                    <div class="price-box"> <span class="regular-price">
                                                                                                                        <span class="price">$110.00</span> </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div><!-- /.em-item-slider -->
                                                                <div class="em-item-slider">
                                                                    <div class="products-list">
                                                                        <div class="item first" style="  ">
                                                                            <a href="product-detail.html" title="Iron Man 3" class="product-image"> <img class="em-alt-hover img-responsive em-img-lazy" src="assets/images/product/100x100/gameword_sp3_2.jpg" width="100" height="100" alt="Iron Man 3" /> <img class="img-responsive em-img-lazy em-alt-org" src="assets/images/product/100x100/gameword_sp3_1.jpg" width="100" height="100" alt="Iron Man 3" /> </a>
                                                                            <div class="product-shop">
                                                                                <div class="f-fix">
                                                                                    <!--product name-->
                                                                                    <h3 class="product-name"><a href="product-detail.html" title="Iron Man 3">Iron Man 3</a></h3>
                                                                                    <!--product description-->
                                                                                    <!--product reviews-->
                                                                                    <!--product price-->
                                                                                    <div class="price-box"> <span class="regular-price">
                                                                                                                        <span class="price">$130.00</span> </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item" style="  ">
                                                                            <a href="product-detail.html" title="Jupiter Ascending" class="product-image"> <img class="em-alt-hover img-responsive em-img-lazy" src="assets/images/product/100x100/gameword_sp8_2.jpg" width="100" height="100" alt="Jupiter Ascending" /> <img class="img-responsive em-img-lazy em-alt-org" src="assets/images/product/100x100/gameword_sp8_1.jpg" width="100" height="100" alt="Jupiter Ascending" /> </a>
                                                                            <div class="product-shop">
                                                                                <div class="f-fix">
                                                                                    <!--product name-->
                                                                                    <h3 class="product-name"><a href="product-detail.html" title="Jupiter Ascending">Jupiter Ascending</a></h3>
                                                                                    <!--product description-->
                                                                                    <!--product reviews-->
                                                                                    <!--product price-->
                                                                                    <div class="price-box"> <span class="regular-price">
                                                                                                                        <span class="price">$170.00</span> </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item last" style="  ">
                                                                            <a href="product-detail.html" title="Jurassic World" class="product-image"> <img class="em-alt-hover img-responsive em-img-lazy" src="assets/images/product/100x100/gameword_sp9_2.jpg" width="100" height="100" alt="Jurassic World" /> <img class="img-responsive em-img-lazy em-alt-org" src="assets/images/product/100x100/gameword_sp9_1.jpg" width="100" height="100" alt="Jurassic World" /> </a>
                                                                            <div class="product-shop">
                                                                                <div class="f-fix">
                                                                                    <!--product name-->
                                                                                    <h3 class="product-name"><a href="product-detail.html" title="Jurassic World">Jurassic World</a></h3>
                                                                                    <!--product description-->
                                                                                    <!--product reviews-->
                                                                                    <!--product price-->
                                                                                    <div class="price-box"> <span class="regular-price">
                                                                                                                        <span class="price">$750.00</span> </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div><!-- /.em-item-slider -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- /.em-grid-04 -->
                                            </div>
                                        </div>
                                    </div><!-- /.em-wrapper-area04 -->
                                </div>
                            </div>
                            <div class="em-wrapper-area05">
                                <div class="hidden-xs">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="img-banner">
                                                <a class="banner-img" title="em-sample-title" href="#"> <img class="img-responsive" alt="em_ads_06" src="assets/images/wysiwyg/em_ads_06.jpg" /><span class="effect-line">&nbsp;</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="img-banner">
                                                <a class="banner-img" title="em-sample-title" href="#"> <img class="img-responsive" alt="em_ads_07" src="assets/images/wysiwyg/em_ads_07.jpg" /> </a><span class="effect-line">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.em-wrapper-area05 -->
                            <div class="em-wrapper-area06">
                                <div class="row">
                                    <div class="col-sm-24">
                                        <div class="em-wrapper-ads-10 em-line-01">
                                            <div class="em-block-title">
                                                <h2><span>From Our Blog</span></h2>
                                            </div>
                                            <div class="em-slider em-slider-from-our-blog" data-emslider-navigation="true" data-emslider-items="3" data-emslider-desktop="3" data-emslider-desktop-small="2" data-emslider-tablet="2" data-emslider-mobile="1">
                                                <div class="em-blog-item em-effect-13 em-blog-style02">
                                                    <div class="em-blog-content bkg-top">
                                                        <a title="em-sample-title" class="img-banner-small" href="blog-detail.html"> <img alt="em_blog" class="img-responsive" src="assets/images/blog/em-ads-08.jpg" /> </a>
                                                        <div class="em-blog-time">
                                                            <p class="em-blog-date">21</p>
                                                            <p class="em-blog-month">Jul</p>
                                                        </div>
                                                        <div class="hov">&nbsp;</div>
                                                    </div>
                                                    <div class="em-box bkg-bottom">
                                                        <h4 class="em-blog-title"><a href="blog-detail.html">Pineapples, Mermaids and&hellip;</a></h4>
                                                        <p class="em-blog-des">Boutique festival Secret Garden went down in Sydney&rsquo;s&nbsp;Camden over the weekend, and all the free-spirited kids came out to&hellip;</p>
                                                        <p><a class="link-more" href="blog-detail.html">Read more</a>
                                                        </p>
                                                    </div>
                                                </div><!-- /.em-blog-item -->
                                                <div class="em-blog-item em-effect-13 em-blog-style02">
                                                    <div class="em-blog-content bkg-top">
                                                        <a title="em-sample-title" class="img-banner-small" href="blog-detail.html"> <img alt="em_blog" class="img-responsive" src="assets/images/blog/em-ads-09.jpg" /> </a>
                                                        <div class="em-blog-time">
                                                            <p class="em-blog-date">21</p>
                                                            <p class="em-blog-month">Jul</p>
                                                        </div>
                                                        <div class="hov">&nbsp;</div>
                                                    </div>
                                                    <div class="em-box bkg-bottom">
                                                        <h4 class="em-blog-title"><a href="blog-detail.html">11 Emerging Jewelry&hellip;</a></h4>
                                                        <p class="em-blog-des">Jewelry&nbsp;designers are a little like the stepchild of the fashion industry. They&rsquo;re adored, but tend to play second fiddle to&hellip;</p>
                                                        <p><a class="link-more" href="blog-detail.html">Read more</a>
                                                        </p>
                                                    </div>
                                                </div><!-- /.em-blog-item -->
                                                <div class="em-blog-item em-effect-13 em-blog-style02">
                                                    <div class="em-blog-content bkg-top">
                                                        <a title="em-sample-title" class="img-banner-small" href="blog-detail.html"> <img alt="em_blog" class="img-responsive" src="assets/images/blog/em-ads-10.jpg" /> </a>
                                                        <div class="em-blog-time">
                                                            <p class="em-blog-date">21</p>
                                                            <p class="em-blog-month">Jul</p>
                                                        </div>
                                                        <div class="hov">&nbsp;</div>
                                                    </div>
                                                    <div class="em-box bkg-bottom">
                                                        <h4 class="em-blog-title"><a href="blog-detail.html">Target’s Lilly&hellip;</a></h4>
                                                        <p class="em-blog-des">A few weeks after announcing that&nbsp;Lilly Pulitzer&nbsp;would be its next design collaboration, which will include&hellip;</p>
                                                        <p><a class="link-more" href="blog-detail.html">Read more</a>
                                                        </p>
                                                    </div>
                                                </div><!-- /.em-blog-item -->
                                                <div class="em-blog-item em-effect-13 em-blog-style02">
                                                    <div class="em-blog-content bkg-top">
                                                        <a title="em-sample-title" class="img-banner-small" href="blog-detail.html"> <img alt="em_blog" class="img-responsive" src="assets/images/blog/em-ads-08_1.jpg" /> </a>
                                                        <div class="em-blog-time">
                                                            <p class="em-blog-date">21</p>
                                                            <p class="em-blog-month">Jul</p>
                                                        </div>
                                                        <div class="hov">&nbsp;</div>
                                                    </div>
                                                    <div class="em-box bkg-bottom">
                                                        <h4 class="em-blog-title"><a href="blog-detail.html">The Apple Watch Sport Is&hellip;</a></h4>
                                                        <p class="em-blog-des">If you ordered yourself an Apple Watch Sport, you might want to treat it with a little TLC now that&nbsp;reports&nbsp;are&hellip;</p>
                                                        <p><a class="link-more" href="blog-detail.html">Read more</a>
                                                        </p>
                                                    </div>
                                                </div><!-- /.em-blog-item -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.em-wrapper-area06 -->
                            <div class="em-wrapper-area07">
                                <div class="em-wrapper-brands">
                                    <div class="slider-style02">
                                        <div class="em-slider em-slider-banners em-slider-navigation-icon" data-emslider-navigation="true" data-emslider-items="6" data-emslider-desktop="5" data-emslider-desktop-small="4" data-emslider-tablet="3" data-emslider-mobile="2">
                                            <div class="em-banners-item">
                                                <a href="#"><img class="img-responsive" alt="em_brand_01.jpg" src="assets/images/brand/em_brand_01.png" />
                                                </a>
                                            </div>
                                            <div class="em-banners-item">
                                                <a href="#"><img class="img-responsive" alt="em_brand_02.jpg" src="assets/images/brand/em_brand_02.png" />
                                                </a>
                                            </div>
                                            <div class="em-banners-item">
                                                <a href="#"><img class="img-responsive" alt="em_brand_03.jpg" src="assets/images/brand/em_brand_03.png" />
                                                </a>
                                            </div>
                                            <div class="em-banners-item">
                                                <a href="#"><img class="img-responsive" alt="em_brand_04.jpg" src="assets/images/brand/em_brand_04.png" />
                                                </a>
                                            </div>
                                            <div class="em-banners-item">
                                                <a href="#"><img class="img-responsive" alt="em_brand_05.jpg" src="assets/images/brand/em_brand_05.png" />
                                                </a>
                                            </div>
                                            <div class="em-banners-item">
                                                <a href="#"><img class="img-responsive" alt="em_brand_06.jpg" src="assets/images/brand/em_brand_06.png" />
                                                </a>
                                            </div>
                                            <div class="em-banners-item">
                                                <a href="#"><img class="img-responsive" alt="em_brand_07.jpg" src="assets/images/brand/em_brand_01.png" />
                                                </a>
                                            </div>
                                            <div class="em-banners-item">
                                                <a href="#"><img class="img-responsive" alt="em_brand_01.jpg" src="assets/images/brand/em_brand_02.png" />
                                                </a>
                                            </div>
                                            <div class="em-banners-item">
                                                <a href="#"><img class="img-responsive" alt="em_brand_02.jpg" src="assets/images/brand/em_brand_03.png" />
                                                </a>
                                            </div>
                                        </div><!-- /.em-slider -->
                                    </div>
                                </div>
                            </div><!-- /.em-wrapper-area07 -->
                        </div>
                    </div>
                </div><!-- /.em-wrapper-main -->
